doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')

        title= WebButLED

        meta(name='description', content='')
        meta(name='viewport', content='width=device-width, initial-scale=1')

        script(type='text/javascript' src='http://code.jquery.com/jquery.min.js')
        script(type='text/javascript' src='js/socket.io.js')
        script.
            var socket = io();

            function changeLed(id) {
                var element = document.getElementById(id);
                var state = element.src.match('off') != null;
                if (state)
                    element.src = 'imgs/buton.png';
                else
                    element.src = 'imgs/butoff.png';
                socket.emit('led', {state: state});
            }

            $(document).ready(function() {
                socket.on('but', function (data) {
                    var element = document.getElementById('led');
                    if (data.state)
                        element.src = 'imgs/ledon.png';
                    else
                        element.src = 'imgs/ledoff.png';
                });
            });
body
    h1 Raspberry Pi
    h3 Button and LED remote web control
    div
        p.text-center
            img#but(src= 'imgs/butoff.png' onclick="changeLed(this.id)")
            <br />
    div
        p.text-center
            img#led(src= 'imgs/ledoff.png')
